.w-tiyu{width:6.4rem;margin:0 auto;}
.w-sszb1{width:6.2rem;margin:0 auto;border-top: 0.01rem solid #dedede;padding-top:0.45rem;overflow: hidden;	}
.w-sszb-l{width:6.2rem;margin-bottom:0.15rem;overflow: hidden;}
.sszb-tit{display:block; height: 0.4rem;line-height: 0.4rem;padding-left:0.55rem;color:#0a0a0a;}
.sszb-tit1{background:url(../img/tiyu/zhandui/niuzai.jpg)0 0 no-repeat;background-size: 40%;}
.sszb-tit2{background:url(../img/tiyu/zhandui/laoying.jpg)0 0 no-repeat;background-size: 40%;}
.sszb1-cc{display: block;float: right;font-size:0.3rem;color:#000;}
.w-sszb-r{width:1.4rem;border-left: 1px solid #e9e9e9;overflow: hidden;padding-left: 0.1rem;margin-left: 0.05rem;}
.sszb-r-ss{color:#ff7000;font-size: 0.18rem;margin-left:0.1rem ;}
.sszb-r-zb{width:1.4rem;height: 0.45rem;margin-left:0.2rem;background: url(../img/icon/sports_zbz_button@2x.png)0 0 no-repeat;background-size: 100%;}
.yuyue-l{width:6.2rem;float: left;overflow: hidden;}
.sszb-tit3{display: block;margin-bottom: 0.3rem;background: url(../img/tiyu/zhandui/gongniu.jpg)0 0 no-repeat;background-size: 40%;}
.sszb-tit4{display: block;background: url(../img/tiyu/zhandui/76ren.jpg)0 0 no-repeat;background-size: 40%;}
.w-sszb-r1{border-right: 1px solid #e9e9e9;overflow: hidden;padding:0.1rem;margin-left: 0.05rem;}
.sszb-r-ss1{color:#959595;font-size: 0.18rem;}
.cccccc{width:1.4rem;height: 0.45rem;margin: 0.15rem 0rem 0rem 0.1rem;background: url(../img/icon/sports_yuyue@2x.png)0 0 no-repeat;background-size: 100%;}